* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #365669;
    color: #DDC6C1;
}

.tituloPrincipal {
    text-align: center;
    color: #409AAC;
}

.containerCalculadora {
    max-width: 600px;
    margin: 20px auto;
    background-color: #CC4D40;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerInput {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #CF845E;
}

.inputNum {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.sectionBtn {
    text-align: center;
}

.containerBtn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.btn {
    background-color: #409AAC;
    color: #DDC6C1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #365669;
}

.containerResultado, .containerMemoria {
    text-align: center;
    margin-bottom: 20px;
}

.resultado {
    font-size: 24px;
    background-color: #E03320;
    color: #FFFFFF;
}

#memoriaList {
    list-style: none;
    padding: 0;
}

#btnLimpiarMemoria {
    background-color: #365669;
}

#btnLimpiarMemoria:hover {
    background-color: #409AAC;
}

.containerBtn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.containerBtn button {
    grid-column: span 1;
}

.containerBtn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.containerBtn button {
    grid-column: span 1;
}

.containerBtn button#btnSum {
    background-color: #1bb17f;
}

.containerBtn button#btnSubtract {
    background-color: #1bb17f;
}

.containerBtn button#btnMultiply {
    background-color: #1bb17f;
}

.containerBtn button#btnDivide {
    background-color: #1bb17f;
}

.containerBtn button#btnEqual {
    background-color: #1bb17f;
}

.sectionTrivia {
    text-align: center;
    margin-top: 40px;
}

.sectionTrivia {
    text-align: center;
    margin-top: 40px;
}

.containerTrivia {
    color: #DDC6C1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.btnGetTrivia {
    background-color: #020c13;
    color: #DDC6C1;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 300px;
    margin-bottom: 30px;
}

.trivia {
    margin-top: 20px;
}

.trivia-question {
    font-weight: bold;
    background-color: #409AAC;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.trivia-options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trivia-options li {
    list-style: none;
    margin: 5px 0;
    background-color: #409AAC;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.respuesta {
    margin-top: 20px;
    font-weight: bold;
}